<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
    
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  <!--  Current news about Mars --> 
    <h2>Latest Mars News</h2>
    <h3>{{ mars.news_title }}</h3>
    <p>{{ mars.news_p }}</p>
    <figure class="box box-1">
      <div class="row">
        <div class="col-md-6">
          <!--  Featured image -->
          <img src="{{ mars.featured_image_url }}" width=600 height=400 alt="featured_image_url">
        </div>
        <div class="col-md-6">
          <!--  Current Weather on Mars -->                        
          <div class="row">
            <div class="col-md-12">
              <figure class="box box-2">
                <h3>Current Weather on mars</h3>
                <p>{{ mars.mars_weather }}</p>
              </figure>
            </div>
            <br>
            <div class="col-md-12">  
              <!--  Load the fact table about Mars -->             
              <h3>Mars Facts</h3>                
                {{ mars.mars_fact|safe }}

            </div>
          </div>  
        </div>
      </div>
    </figure>
    
    <figure class="box box-1">
        <br>
        <h5 style="text-align: center; font-size: 30px">Mars Hemisphere</h5>
        <br>
        
        <div class="row" >
            <div class="col-md-6">
              <!--  Mars Hemisphere image -->
              <img src="{{ mars.hemisphere_image_urls[0]['img_url'] }}" width=75% height=75% right-margin=1px alt="featured_image_url">
              <h4>{{ mars.hemisphere_image_urls[0]['title'] }} Enhanced</h4>
            </div>
            <div class="col-md-6">
                <!--  Mars Hemisphere image -->
                <img src="{{ mars.hemisphere_image_urls[1]['img_url'] }}" width=75% height=75% margin=auto alt="featured_image_url">
                <h4>{{ mars.hemisphere_image_urls[1]['title'] }} Enhanced</h4>
              </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <!--  Mars Hemisphere image -->
              <img src="{{ mars.hemisphere_image_urls[2]['img_url'] }}" width=75% height=75% margin=auto alt="featured_image_url">
              <h4>{{ mars.hemisphere_image_urls[2]['title'] }} Enhanced</h4>
            </div>
            <div class="col-md-6">
                <!-- Mars Hemisphere image -->
                <img src="{{ mars.hemisphere_image_urls[3]['img_url'] }}" width=75% height=75% margin=auto alt="featured_image_url">
                <h4>{{ mars.hemisphere_image_urls[3]['title'] }} Enhanced</h4>
              </div>
        </div>
    </figure>
    
  </div>
  
</body>

</html>